@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'DroidSans';
  font-style: normal;
  font-weight: 400;
  src: local('DroidSans'), local('Droid Sans'), local('DroidSans-Regular'),
    url('../fonts/droidsans.woff2') format('woff2'),
    url('../fonts/droidsans.woff') format('woff');
}

@import url('https://use.typekit.net/gts6nec.css');
