body {
  display: flex;
  align-items: flex-start;
}

header {
  flex-grow: 1;
}

main {
  flex-grow: 100;
}

footer {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }
}
