.up-btn-link {
    display: flex;
    border-radius: 50%;
    background-color: rgb(119, 193, 187);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
    width: 52px;
    height: 52px;
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 11px;
    @media (min-width: 768px) {
            display: none;
    }
}

  
.up-btn-hidden {
    opacity: 0;
    visibility: hidden;
}
.up-btn-img{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
  
