{{#each this}}
<li class='gallery-item'>

    <img src="{{}}" alt="{{}}" class="gallery-item__image">
    <p class="gallery-item__name"> {{}}({{}}) </p>
    <p class="gallery-item__rating"> {{}} </p>

</li>
{{/each}}