<div class="container">
    <div class="input-wrapper container">
        <div class="form-wrapper">
            <form action="#" class="search-form container">
                <input class="input" type="text" name="query" placeholder="Write movie name and click Enter" />
            </form>
            <p class="wrong-input-notification"></p>
        </div>
    </div>
    <section class="gallery container library library-content">
        <ul id="gallery-list-id" class="gallery-list library-gallery"></ul>
        <div id="counter" class="btn_wrapper display-none">
            <button type="button" data-counter="decrement" class="prev-next not-visible">
                Prev
            </button>
            <span id="value" class="value" value="1">1</span>
            <button type="button" data-counter="increment" class="prev-next">
                Next
            </button>
        </div>
    </section>