<section class="watch-queue">
    <ul class="watch-queue-link">
        <li>
            <a href="/hakaton-js/library/watch" class="watch-queue-link__item watch-js is-active">Watched</a>
        </li>
        <li>
            <a href="/hakaton-js/library/queue" class="watch-queue-link__item queue-js">Queue</a>
        </li>
    </ul>

</section>

<section class="library">
</section>