<div id="counter" class="btn_wrapper">
    <button type="button" data-counter="decrement" class="prev-next">
        Prev
    </button>
    <span id="value" class="value" value="1">1</span>
    <button type="button" data-counter="increment" class="prev-next">
        Next
    </button>
</div>