 <a href="#scroll" class="up-btn-link"><svg class="up-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <path
                d="M18 11h-4v7h-4v-7h-4l6-6 6 6zm-16 1c0-5.514 4.486-10 10-10s10 4.486 10 10-4.486 10-10 10-10-4.486-10-10zm-2 0c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12z" />
        </svg></a>
        <svg 
  width="63px" height="63px">
<defs>
<filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="63px" height="63px"  >
    <feOffset in="SourceAlpha" dx="0" dy="0" />
    <feGaussianBlur result="blurOut" stdDeviation="2.646" />
    <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
    <feComposite operator="atop" in="floodOut" in2="blurOut" />
    <feComponentTransfer><feFuncA type="linear" slope="0.55"/></feComponentTransfer>
    <feMerge>
    <feMergeNode/>
    <feMergeNode in="SourceGraphic"/>
  </feMerge>
</filter>

</defs>
<g filter="url(#Filter_0)">
<path fill-rule="evenodd"  fill="rgb(119, 193, 187)"
 d="M31.000,6.000 C44.807,6.000 56.000,17.193 56.000,31.000 C56.000,44.807 44.807,56.000 31.000,56.000 C17.193,56.000 6.000,44.807 6.000,31.000 C6.000,17.193 17.193,6.000 31.000,6.000 Z"/>
</g>
</svg>