<section class="library-content">
    <ul class="library-gallery">
        <li class="library-gallery__item">
            <img class="library-gallery__image"
                src="https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492__340.jpg" alt="the kitten">
        </li>
        <li class="library-gallery__item">
            <img class="library-gallery__image"
                src="https://cdn.pixabay.com/photo/2015/11/16/14/43/cat-1045782_960_720.jpg" alt="the gray cat">
        </li>
        <li class="library-gallery__item">
            <img class="library-gallery__image"
                src="https://cdn.pixabay.com/photo/2020/10/01/11/41/cat-5618328__340.jpg" alt="the cat in the forest">
        </li>
        <li class="library-gallery__item">
            <img class="library-gallery__image"
                src="https://cdn.pixabay.com/photo/2015/11/15/22/09/cat-1044914__340.jpg" alt="the red cat">
        </li>
    </ul>
</section>