.watch-queue {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: rgb(243, 246, 246);
  width: 320px;
  padding: 14px 0 14px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
    // box-shadow: 0px 5px 5px -7px rgba(0, 0, 0, 0.75);
  }
}

.watch-queue-link {
  display: flex;
  justify-content: center;

  &__item {
    display: block;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 38px;
    width: 140px;
    text-align: center;
    border-bottom: 2px solid rgb(156, 153, 165);
  }
}

// .library {
//   padding: 14px 0 14px;

//   @media (min-width: 768px) {
//     padding: 28px 0 28px;
//   }
// }

// .library-gallery {
//   @media (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     padding: 0 28px;
//   }

//   &__item {
//     &:not(:last-of-type) {
//       margin-bottom: 10px;
//     }

//     @media (min-width: 768px) {
//       &:not(:nth-last-child(-n + 2)) {
//         margin-bottom: 20px;
//       }
//     }
//   }

//   &__image {
//     width: 298px;
//     height: 156px;
//     border-radius: 10px;
//     object-fit: cover;
//     margin: 0 auto;

//     @media (min-width: 768px) {
//       width: 344px;
//       height: 182px;
//     }

//     @media (min-width: 1024px) {
//       width: 466px;
//       height: 244px;
//     }
//   }
// }

.is-active {
  background-color: rgb(119, 193, 187);
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(119, 193, 187);
}
