@import './helpers/fonts';
@import './helpers/variables';
@import './helpers/mixins';
@import './components/container.scss';
@import './components/sections.scss';
@import './sections/interface.scss';
@import './sections/header.scss';
@import './sections/homepageFilmGallery.scss';
@import './sections/detailsPage.scss';
@import './sections/homePage.scss';
@import './sections/myFilmLibraryPage.scss';
@import './sections/footer.scss';
@import './sections/search-section.scss';
@import './basicStyles.scss';
